apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mattermost-operator

resources:
  - upstream

images:
  - name: mattermost/mattermost-operator
    newName: mattermost/mattermost-operator
    newTag: v1.8.0
